html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	color: white;
	transition: all 2s ease;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.link-underline {
    border-bottom: 0px solid #b4e7f8;
    box-shadow: inset 0 -3px 0 #b4e7f8;
    color: inherit;
    transition: background .15s cubic-bezier(.33,.66,.66,1);
    text-decoration: none !important;
}

.link-underline:hover {
    background: #b4e7f8;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* Hero */
#hero {
	height: 100%;
	text-align: center;
	transition: all .5s ease;
}

.hero-img img {
	height: 100px;
	border-radius: 100%;
	border: 0.15em solid white;
	animation: fadein .5s both;
	animation-delay: .25s;
}

.hero-name {
	font-size: 2.5em;
	font-weight: 600;
	letter-spacing: 0.025em;
	padding: 0.1em;
	animation: fadein .5s both;
	animation-delay: .3s;
}

.hero-title {
	font-size: 1em;
	font-weight: 200;
	letter-spacing: 0.2em;
	animation: fadein .5s both;
	animation-delay: .4s;
}

/*.navbar {
	animation: fadein .5s both;
	animation-delay: .5s;
}

.navbar a {
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	font-weight: 300;
	transition: all .5s ease;
}

.navbar a:hover {
	color: #ecf0f1;
}

.navbar a+a {
	padding-left: 1.5em;
}*/

#content {
	height: 100%;
}

/* Background */
#background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: -1;
	transition: all .5s linear;
}

.bghero {
	background-color: #A83279;
}

.bgabout {
	background-color: #764ba2;
}

.bgabout:after {
}

/* About */
#about {
	height: 100%;
	margin-top: -10%;
}

#about .about {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
	letter-spacing: 0.05em;
	line-height: 1.6em;
	font-size: 1.4em;
}

#about .about .header {
	font-size: 1.6em;
	font-weight: 700;
}

/* Desktop */
@media (min-width: 992px) {
	
}

/* Mobile */
@media (max-width: 991px) {
	#about .about {
		font-size: 5vw;
	}
}

@media (min-width: 1500px) {
	
}