html, body {
	height: 100%;
}

.content {
	height: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 992px) {
	#sidebar {
		height: 100%;
		/*padding-top: 10%;
		padding-bottom: 10%;
		border-right-width: 5px;
		border-right-style: solid;
		border-right-color: black;*/
		position: static;
		background-color: #58ACE3;
		font-family: 'Roboto Slab', serif;
		line-height: 2em;
		font-size: 1.5em;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	#main {
		overflow: scroll;
		height: 100%;
		background-color: #ECF0F1;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

#desktop-menu a {
	text-align: center;
	text-decoration: none;
	color: white;
	display: block;
}

#about {
	min-height: 100%;
}

#about h1 {
	color: #2c3e50;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	line-height: 1.5em;
}

#about p {
	font-family: 'Bitter', serif;
	font-size: 20px;
	line-height: 1.75em;
	text-align: justify;
	color: #2c3e50;
}

#about img {
	width: 125px;
	border-radius: 100px;
	margin-left: 15px;
}

.about {
	width: 80%;
}

#projects {
	min-height: 100%;
}